@using AfroditaBg.Common
@inject IViewLocalizer Localizer
@{
    this.ViewData["Title"] = "Admin dashboard";
    var allTags = this.Model.Tags.Select(x => new SelectListItem(x,x));
}

@model AfroditaBg.Web.ViewModels.Administration.Gallery.GalleryInputViewModel
<form enctype="multipart/form-data" class="ftco-animate" method="post">
    <div class="form-row">
        <div class="form-group col-auto">
            <label asp-for="Image">Избери снимка</label>
            <input asp-for="Image" class="form-control-file">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <select asp-for="SelectTag" class="form-control" asp-items="@allTags">
                <option value="new">Изберете таг или добавете нов -></option>
            </select>
            <span asp-validation-for="SelectTag" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <input asp-for="NewTag" class="form-control" />
            <span asp-validation-for="NewTag" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input asp-for="BulgarianDescription" class="form-control" placeholder=@Localizer["Кратко описание"]>
            <span asp-validation-for="BulgarianDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input asp-for="ModelName" class="form-control" placeholder=@Localizer["Име на модела"]>
            <span asp-validation-for="ModelName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col text-center">
            <input type="submit" value="@Localizer["Добави снимка"]" class="btn btn-primary py-3 px-5">
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}